*{
    margin: 0%;
    padding: 0%;
}

body {
    display: inline-block; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". titulo titulo titulo titulo ."
      "proyectos proyectos proyectos proyectos foto foto"
      "proyectos proyectos proyectos proyectos foto foto"
      ". sm sm cv cv ."
      ". . hab hab . ."
      "h c s g gh n"
      ". contacto contacto contacto contacto ."
      ". sobreMi sobreMi sobreMi sobreMi ."
      "footer footer footer footer footer footer";
  }
  
  .titulo { grid-area: titulo; }
  
  .proyectos { grid-area: proyectos; }
  
  .foto { grid-area: foto; }
  
  .sm { grid-area: sm; }
  
  .cv { grid-area: cv; }
  
  .hab { grid-area: hab; }
  
  .h { grid-area: h; }
  
  .c { grid-area: c; }
  
  .s { grid-area: s; }
  
  .g { grid-area: g; }
  
  .gh { grid-area: gh; }
  
  .n { grid-area: n; }
  
  .contacto { grid-area: contacto; }
  
  .sobreMi { grid-area: sobreMi; }
  
  .footer { grid-area: footer; }
  