*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: inline-block; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr 1.5fr 2fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
        ". titulo titulo titulo titulo ."
        "proyectos proyectos proyectos proyectos foto foto"
        "proyectos proyectos proyectos proyectos foto foto"
        ". sm sm cv cv ."
        ". . hab hab . ."
        "h c s g gh n"
        ". sobreMi sobreMi sobreMi sobreMi ."
        ". contacto contacto contacto contacto ."
        "footer footer footer footer footer footer";
    }
    
    .titulo { grid-area: titulo; }
    
    .proyectos { grid-area: proyectos; }
    
    .foto { grid-area: foto; }
    
    .sm { grid-area: sm; }
    
    .cv { grid-area: cv; }
    
    .hab { grid-area: hab; }
    
    .h { grid-area: h; }
    
    .c { grid-area: c; }
    
    .s { grid-area: s; }
    
    .g { grid-area: g; }
    
    .gh { grid-area: gh; }
    
    .n { grid-area: n; }
    
    .sobreMi { grid-area: sobreMi; }
    
    .contacto { grid-area: contacto; }
    
    .footer { grid-area: footer; }


.centrado {
    text-align: center;
}

.foto {
    text-align: left;
}

.botones {
    display: inline-block;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    width: 30rem;
    text-align: center;
    border: .5rem solid #000;
    border-radius: 20rem;
    background-color: #fff;
}

.botones2 {
    display: inline-block;
    padding: .5rem;
    margin: .5rem;
    text-decoration: none;
    width: 15rem;
    text-align: center;
    border: .5rem solid #000;
    border-radius: 20rem;
    background-color: #fff;
}

.hab {
    height: 100px;
}

h1 {
    margin: 40px;
    padding: 40px;
}

h2 {
    margin: 30px;
    padding: 30px;
}

#parrafo {
    display: inline-block;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    width: 80rem;
    text-align: center;
    border: 0.5rem solid #000;
    border-radius: 2.5rem;
    background-color: #fff;
}

ul li {
    list-style: none;
    display: inline;
}

li a img {
    width: 35px;
    height: 35px;
}

footer {
    text-align: right;
    margin: 20px;
    justify-content: space-between;
    box-sizing: 100%;
}